/* body */
body {
  font-family: Roboto;
  padding: 0 0 0 0;
  text-align: center;
  background-color: #ebedf1;
  font-size: 14px;
}
* {
  box-sizing: border-box;
}

/* title */

h2 {
  background-color: inherit;
  text-align: left;
}

h3 {
  background-color: #f7f9fc;
  text-align: left;
  width: 100%;
  font-size: 20px;
}

h4 {
  background-color: #f7f9fc;
  text-align: right;
  width: 30%;
}

div.jampp-form-box {
  display: inline-block;
  width: 90%;
  padding: 2em;
  background-color: #f7f9fc;
  box-shadow: 1px 1px 8px #888888;
  margin-top: 10px;
}

div.filters-title {
  display: inline-block;
  width: 100%;
}

div.jampp-submit{
  display: inline-block;
  width: 90%;
  background-color: inherit;
}

div.box-title {
  width: 30%;
  float: left;
}

div.box-filter {
  width: 100%;
  display: inline-block;
  padding-top: 10px;
}

select.box-title-select {
  width: 70%;
}

div.header-filters {
  padding-bottom: 20px;
  overflow: hidden;
}

div.header-filter {
  width: 25%;
  float: left;
}

label.header-filter {

}

input.filter {
  width: 70%;
  margin: 1px;
}

label.filter {
  /* float: left; */
  width: 100%;
  text-align: center;
  color: #777;
}

div.filter {
  display: none;
  width: 50%;
  padding: 7px;
  float: left;
  min-height: 100px;
}

div.filter.active {
  display: block;
}

#submit {
  background-color: #36e796;
  float: right;
  /* color: #ebedf1; */
}

label {
  text-align: left;
}

/* calendars */
div.datepicker {
  text-align: -webkit-center;
}

div.datepicker table tr td.active.active {
    background-color: #36355B;
}

div.datepicker table tr td.active.active:hover {
    background-color: #36e796;
}


div.new {
  padding: 20px;
  width: 50%;
  margin: auto;
  background-color: #36355b;
}

a.new {
  font-weight: bolder;
  color: #ebedf1;
  font-size: 20px;
}

div.new-container {
  padding: 20px;
}

label.user-new {
  float: left;
}

label.cohort-label {
  font-size: 12px;
  color: #777777;
  width: 100%;
  text-align: center;
}

div.cohort-title {
  width: 100%;
}

div.cohort-box-title {
  padding-right: 5px;
  padding-left: 5px;
  width: 100%;
}

div.cohort-col {
  padding-top: 5px;
  width: 25%;
}

div.cohort-col-custom {
  padding-right: 5px;
  padding-top: 5px;
  width: 25%;
  display: none;
}

div.hidden {
  display: none;
}

div.number_of_days {
  width: 8%;
  padding-right: 10px;
}

#cohort_number_of_days {
  width: 100%;
}

div.form-group-unsubscribe {
  margin-bottom: 1rem;
  width: 100%;
  padding-top: 10px;
}

/* submit */

h2.success {
  color: #36e796;
}

h2.failure {
  color: #FF6331;
}

p.submit {
  text-align: left;
}

p.error {
  color: #FF6331;
  font-size: 20PX;
  /* text-align: left; */
}

table.submit {
  width: 100%;
  border-collapse: collapse;
  text-align: left
}
#scheduled_report tr:nth-child(odd) {
  background-color: #edeeef;
}
#scheduled_report tr:nth-child(even){
  background-color: #dee0e2;
}
#scheduled_report tr:hover {
  background-color: #999999;
}
#scheduled_report th {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  text-align: left;
  width: 15%;
  /* background-color: #727df7; */
}

#scheduled_report td {
  padding-left: 20px;
  text-align: left;
  /* background-color: #727df7; */
}

/* special-series */

div.special-series {
  float: left;
  width: 60%;
  padding-left: 6%;
}

div.special-series-row {
  display: inline-block;
  width: 100%;
  padding-top: 20px;
}

label.special-series {
  float: left;
  width: 35%;
  text-align: right;
}

select.special-series {
  width: 70%;
  float: left;
}
